<div class="jumbotron">

  {{#if user}}
  <h1 class="display-4">Hello, {{user.nome}}!</h1>
    {{else}}
    <h1 class="display-4">Hello, friend!</h1> 
  {{/if}}

  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>


  {{#if user.eAdmin}} {{!-- se for user admin --}}
  <a class="btn btn-primary btn-lg" href="/admin/postagens/add" role="button">Crie uma postagem!</a>
    {{else}}
        {{#if user}}
        <a class="btn btn-primary btn-lg" href="/categorias" role="button">Veja a lista de categorias!</a>
            {{else}} {{!-- se não for usuario --}}
            <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta!</a>
        {{/if}}
  {{/if}}

</div>


<hr>
<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais...</button></a>
        <hr>
        <small>{{categoria.nome}}</small><br/>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>

{{else}}
    <h6>Nenhuma postagem recente</h6>
{{/each}}